@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Typography*/
    --family: 'PT Sans Narrow', sans-serif;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fw-regular: 400;
    --fw-bold: 700;

    /*Other*/
    --brad: 0.5rem;
}

body[data-theme='dark'] {
    --colors-text: #e7e0e0;
    --colors-bg: #222222;
    --colors-ui-base: #484848;
    --shadow: rgba(234, 234, 234, 0.2) 0 0 8px;
}

body[data-theme='light'] {
    --colors-text: #111111;
    --colors-bg: #dcdcdc;
    --colors-ui-base: #f3f3f3;
    --shadow: rgba(80, 80, 80, 0.2) 0 0 24px;
}

body {
    font-family: var(--family);
    font-weight: var(--fw-regular);
    background-color: var(--colors-bg);
    color: var(--colors-text);
}